 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

body {
  font-family: 'Open Sans', sans-serif;
  background: #f8c291;
  color: #f5f6f7;
  font-size: 23px;
  line-height: 36px;
  text-align: center;
  font-weight: 300; }



*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

a:link,
a:visited,
a:active {
  font-weight: 600;
  color: #f5f6f7;
  text-decoration: none; }
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: #e1e1e1;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s; }



/* =========================

		SECTION STYLES 

   =========================*/
#hero {
  background: #f8c291;
}

.hero-block {
  height: 390px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -195px; 
}
